# Importing Libraries

In [ ]:
from sqlalchemy import create_engine
import seaborn as sns
import pandas as pd
import pymysql
import getpass  # To get the password without showing the input
password = getpass.getpass()

# Testing Phase

## Establishing the connection with MySQL

In [ ]:
# this is the general syntax 'dialect+driver://username:password@host:port/database'
# to create the connection string

connection_string = 'mysql+pymysql://root:' + password + '@localhost/sakila'
engine = create_engine(connection_string)
data = pd.read_sql_query('SELECT * FROM sakila.customer', engine)
data.head()

## Getting a Panda's dataframe (df) called "data" out of a MySQL query

In [ ]:
engine.execute("USE sakila")
query = 'SELECT customer_id FROM sakila.customer'
data = pd.read_sql_query(query, engine)
data.head()

In [ ]:
query = 'SELECT count(customer_id) FROM sakila.customer'
data = pd.read_sql_query(query, engine)
data.head()

# Getting our data

In [ ]:
# 1 - Customer ID
query = "SELECT customer_id FROM sakila.customer"
c_id = pd.read_sql_query(query, engine)
c_id.head()

In [ ]:
# 1 - Customer ID (Count)
query = "SELECT count(customer_id) FROM sakila.customer"
c_id_c = pd.read_sql_query(query, engine)
c_id_c.head()

In [ ]:
# 2 - City
query = "SELECT city FROM sakila.city"
ct = pd.read_sql_query(query, engine)
ct.head()

In [ ]:
# 2 - City (Count)
query = "SELECT count(city) FROM sakila.city"
ct = pd.read_sql_query(query, engine)
ct.head()

In [ ]:
# -- Customer ID + City (JOIN)

query = "SELECT a.customer_id, c.city FROM sakila.customer AS a \
JOIN sakila.address AS b ON a.address_id = b.address_id \
JOIN sakila.city AS c ON b.city_id = c.city_id \
GROUP BY customer_id \
ORDER BY customer_id DESC"
c_id_ct = pd.read_sql_query(query, engine)
c_id_ct.head()

In [ ]:
c_id_ct.shape

In [ ]:
# 3 - Most rented film category
query = "SELECT customer_id, category_name FROM \
(SELECT rental.customer_id, count(rental.rental_id) as total_rentals, film_category.category_id, category.name as category_name, \
row_number() over (partition by rental.customer_id order by count(rental.rental_id) desc) as ranking_max_rented_category \
FROM rental \
INNER JOIN inventory ON rental.inventory_id = inventory.inventory_id \
INNER JOIN film_category ON inventory.film_id = film_category.film_id \
INNER JOIN category ON film_category.category_id = category.category_id \
GROUP BY rental.customer_id, film_category.category_id, category.name) AS table_popular_category \
WHERE ranking_max_rented_category = 1 \
ORDER BY customer_id"
mrfc = pd.read_sql_query(query, engine)
mrfc.head()

In [ ]:
mrfc.shape

In [ ]:
# 4 - Total films rented
query = "SELECT customer_id, count(rental_id) AS Rentals FROM sakila.rental \
GROUP BY customer_id \
ORDER BY Rentals DESC"
tfr = pd.read_sql_query(query, engine)
tfr.head()

In [ ]:
tfr.shape

In [ ]:
# 5 - Total money spent
query = "SELECT customer_id, sum(amount) AS Total_money_spent from sakila.payment \
GROUP BY customer_id \
ORDER BY sum(amount) DESC"
tms = pd.read_sql_query(query, engine)
tms.head()

In [ ]:
tms.shape

In [ ]:
# 6 - How many films rented last month
query = "SELECT customer_id, count(rental_id) AS Rentals, rental_date FROM sakila.rental \
GROUP BY customer_id \
HAVING rental_date >= '2005-05-15' AND rental_date <= '2005-05-31' \
ORDER BY Rentals DESC"
lmr = pd.read_sql_query(query, engine)
lmr.head()

In [ ]:
lmr.shape

In [ ]:
# 6 - How many films rented last month (Binary)
query = "SELECT * FROM rentals_on_1st_range_b"
lmrb = pd.read_sql_query(query, engine)
lmrb.head()

In [ ]:
lmrb.shape

In [ ]:
# 6 - Forecast on how many films rented next month (Binary)
query = "SELECT * FROM rentals_on_2nd_range_b"
nmrb = pd.read_sql_query(query, engine)
nmrb.head()

In [ ]:
nmrb.shape

In [ ]:
Dataset = pd.merge(c_id_ct, mrfc)

In [ ]:
Dataset = pd.merge(Dataset, tfr)

In [ ]:
Dataset = pd.merge(Dataset, tms)

In [ ]:
Dataset = pd.merge(Dataset, lmrb)

In [ ]:
Dataset = pd.merge(Dataset, nmrb)

In [ ]:
display(Dataset)

# Data Exploration

In [ ]:
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
# sns.set_theme(style="whitegrid")

### Knowing the shape and the column types of your dataframe

In [ ]:
print("The dataframe has {} rows and {} columns".format(Dataset.shape[0],Dataset.shape[1]))
print()
print("The data types of each column of the dataframe are:")
print(Dataset.dtypes)
print()

### Fixing the type of columns to categorical (nominal)

In [ ]:
# Fixing Categorical Data
Dataset['city'] = Dataset['city'].astype('str')
Dataset['category_name'] = Dataset['category_name'].astype('str')
Dataset['Customer_rentals_1st_range_binary'] = Dataset['Customer_rentals_1st_range_binary'].astype('str')
Dataset['Customer_rentals_2nd_range_binary'] = Dataset['Customer_rentals_2nd_range_binary'].astype('str')

In [ ]:
# Fixing Categorical Data (Ordinal)
Dataset['customer_id'] = Dataset['customer_id'].astype('object')
# Dataset['Inventory_id'] = Dataset['Inventory_id'].astype('object')

In [ ]:
display(Dataset)

In [ ]:
print(Dataset.dtypes)
print()

### Getting basic statistical summary of the numerical columns

In [ ]:
Dataset.describe()

### Looking for NA's

In [ ]:
print("The number of NA's in the dataframe is: ")
print(Dataset.isna().sum())
print()

## Categorical columns

In [ ]:
## checking all the categorical columns
cols_cat = list(Dataset.select_dtypes(include=['object']).columns)

print("The categorical columns are: ",cols_cat)
print("========================================")
print()

for col in cols_cat:
    print("Frequency analysis of column: ",col)
    my_data = Dataset[col].value_counts().reset_index()
    ax = sns.barplot(x=col, y="index", data = my_data).set_title(col.upper())
    plt.figure()
    print()

### Dummifying categorical columns

In [ ]:
cat = Dataset.select_dtypes(include = np.object)
cat = cat.drop(['customer_id'], axis=1)
# cat = cat.drop(['Inventory_id'], axis=1)
categorical = pd.get_dummies(cat, columns=['city', 'category_name', 'Customer_rentals_1st_range_binary', 'Customer_rentals_2nd_range_binary'],drop_first=True)
categorical.head()

## Numerical columns

### Checking for multicollinearity

In [ ]:
corr_matrix=Dataset.corr(method='pearson')  # default
fig, ax = plt.subplots(figsize=(10, 8))
ax = sns.heatmap(corr_matrix, annot=True)
plt.show()

### Getting distributions of numericals

In [ ]:
sns.distplot(Dataset['Rentals'])
plt.show()

sns.distplot(Dataset['Total_money_spent'])
plt.show()

### Transforming numerical columns with different transformers

In [ ]:
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import StandardScaler

X = Dataset.select_dtypes(include = np.number)

X1 = X.copy()
X2 = X.copy()

#### Normalizer

In [ ]:
# Normalizing data
transformer = Normalizer().fit(X1)
x_normalized = transformer.transform(X1)
x_normalized = pd.DataFrame(x_normalized)

In [ ]:
### Standarizer
transformer = StandardScaler().fit(X2)
x_standarized = transformer.transform(X2)
x_standarized = pd.DataFrame(x_standarized)

## Model 1: Independent variables normalized

In [ ]:
y = Dataset['Customer_rentals_1st_range_binary']
X = np.concatenate((x_normalized, categorical), axis=1)

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=100)

In [ ]:
from sklearn.linear_model import LogisticRegression

classification = LogisticRegression(random_state=0, solver='lbfgs',
                  multi_class='ovr').fit(X_train, y_train)

In [ ]:
#y =  Dataset['Customer_rentals_2nd_range_binary']
#X = np.concatenate((x_standarized, categorical), axis=1)

In [ ]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=100)

In [ ]:
# classification = LogisticRegression(random_state=0, solver='lbfgs',
#                  multi_class='ovr').fit(X_train, y_train)

In [ ]:
from sklearn.metrics import accuracy_score

predictions = classification.predict(X_test)

In [ ]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import cohen_kappa_score

print("The accuracy of the model on test set is: %4.2f " % accuracy_score(y_test, predictions))
print(confusion_matrix(y_test, predictions))
plot_confusion_matrix(classification, X_test, y_test)  # doctest: +SKIP
plt.show()  # doctest: +SKIP
print("The Kappa of your model is: %4.2f" % (cohen_kappa_score(y_test, predictions)))

In [ ]:
# 'city', 'category_name', 'Customer_rentals_1st_range_binary', 'Customer_rentals_2nd_range_binary'